<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for x in messages %}
    <h1>{{ x }}</h1>
    {% endfor %}
    <form method="post" action="http://127.0.0.1:8000/api/mail/">
        {% csrf_token %}
        <input type="text" name="subject" placeholder="Enter subject" id="subject" >
        <textarea  name="message" placeholder="Enter message here.." id="message" ></textarea>
        <textarea type="text" name="toaddress" placeholder="Enter mail to address" id="toaddress" ></textarea>
        <input type="email" name="fromaddress" placeholder="Enter from address" id="fromaddress" >
        <button>submit</button>

    </form>
</body>
</html>