<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.profile %}
        <img src="{{ user.profile.url }}" alt="Profile Picture" width="150" height="150">
    {% else %}
        <p>No profile picture available.</p>
    {% endif %}
    <h1>{{ user.username }}</h1>
    <p>{{ user.email }}</p>

    <a href="/api/profile_update/{{ user.id }}">Update</a>
</body>
</html>