{% extends "base.html" %}

 {% block title %}
    home page
{% endblock %}


{% block content %}


    <h1>This is login page </h1>
    {% for i in users %}
        {% if role == "admin" %}
                <h2 style="background-color: red;">{{ i.name }}</h2>
                <a href="/profile/delete/{{ i.id }}/">delete</a>
                <a href="/profile/{{ i.id }}">view</a>
                <a href="/profile/update/{{ i.id }}/">update</a>
        {% else %}

      

        <h2>{{ i.name }}</h2>
       <a href="/profile/{{ i.id }}">view</a>

           {% endif %}
    {% endfor %}


      {% include "btn.html" with name="click" color="red" %}
        {% include "btn.html" with name="change" %}

{% endblock %}

